.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

.inverted {
  color: black;
  background: white;
  border: 1px solid black;
}

/* 전역적으로 사용하는 css -> :global */
:global .something {
  font-weight: 800;
  color: aqua;
}
